.nav-btn:hover {
  color: rgb(252, 206, 48);
}
body {
	z-index: 0;
}
.mask {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 120%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .75);
}

.form {
	z-index: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    padding-bottom: 15px;
    background-color: rgb(233,233,233);
    color: yellow;
    border-radius: 3%;
    width: 370px;
}​

.form2 {
    border-radius: 3%;
    visibility: hidden;
}​

/*Begin: CSS for comments part*/

.chatbox {
  height: 500px;
  overflow-y: auto;
  padding: 20px;
  background-color: #EEE;
}

.message {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
}

.self {
  border-color: #ccc;
  background-color: #ddd;
  margin-left:auto;
  margin-right:0;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}

.message img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover
}

.message img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.time {
  color :#999;
}
/*End: CSS for comments part*/

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
