.nav-btn:hover {
  color: rgb(252, 206, 48);
}

.form {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -50px;
    margin-left: -200px;
    padding-bottom: 15px;
    background-color: rgb(233,233,233);
    color: yellow;
    border-radius: 3%;
    width: 400px;
    visibility: hidden;
}​
